ansible==7.0.0
ansible-core==2.11.4
ansible-lint==5.1.3
# for Launching EC2 instance
boto
# for AWS dynamic inventory
boto3
botocore
# for GCP dynamic inventory
google-auth
requests
# for development
awscli
